<h1><%= title %></h1>

<%= form_for(@profile_item) do |f| %>
  <% if @profile_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, 'error') %> prohibited this profile from being saved:</h2>
      <ul>
        <% profile.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :subtitle %>
    <%= f.text_field :subtitle %>
  </div>

  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <ul>
    <%= f.fields_for :technologies do |t| %>
      <%= t.label :name %>
      <%= t.text_field :name %>
    <% end %>
  </ul>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


